<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSet</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/applicationList.js"></script>
  </head>
  <body>
    <header>
      <a id="mindSetLogo" href="/"><span>Mind</span>SET</a>
      <nav>
        <a id="adminsNav" href="/views/adminList.html">admins</a>
        <a id="applicationsNav" href="/views/applicationList.html">applications</a>
        <a id="clientsNav" href="/views/clientList.html">clients</a>
        <a id="interviewsNav" href="/views/interviewList.html">interviews</a>
        <a id="positionsNav" href="/views/positionList.html">positions</a>
        <a id="profilesNav" href="/views/profileList.html">profiles</a>
        <a id="psychologistsNav" href="/views/psychologistList.html">psychologists</a>
        <a id="sessionsNav" href="/views/sessionList.html">sessions</a>
      </nav>
    </header>
    <div class="container">
      <h2 class="header">Applications</h2>
      <table class="list">
        <thead>
          <tr>
            <th>Position</th>
            <th>Postulant</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody id="table-content">
        </tbody>
      </table>
      <button class="button" id="addApplication" type="button">
        Add Application
      </button>
    </div>
    <footer>
      <div>© Quito's group, Radium Rocket "Become a Software Developer 2021"</div>
    </footer>
  </body>
</html>
