<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSet</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/postulant.css">
    <script src="../js/modal.js" async></script>
    <script src="../js/postulantForm.js" async></script>
  </head>
  <body>
    <header>
      <a id="mindSetLogo" href="/"><span>Mind</span>SET</a>
      <nav>
        <a id="adminsNav" href="/views/adminList.html">admins</a>
        <a id="applicationsNav" href="/views/applicationList.html">applications</a>
        <a id="clientsNav" href="/views/clientList.html">clients</a>
        <a id="interviewsNav" href="/views/interviewList.html">interviews</a>
        <a id="positionsNav" href="/views/positionList.html">positions</a>
        <a id="postulantsNav" href="/views/postulantList.html">positions</a>
        <a id="profilesNav" href="/views/profileList.html">profiles</a>
        <a id="psychologistsNav" href="/views/psychologistList.html">psychologists</a>
        <a id="sessionsNav" href="/views/sessionList.html">sessions</a>
      </nav>
    </header>
    <div class="container">
      <h2 class="header">Applications Form</h2>
      <form id="form">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <label for="email">Mail:</label>
        <input type="email" id="email" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <section id="contactRange">
          <h2>Contact Range:</h2>
          <label for="contactFrom">From:</label>
          <input type="time" id="contactFrom" name="contactFrom" required>
          <label for="contactTo">To:</label>
          <input type="time" id="contactTo" name="contactTo" required>
        </section>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" required>
        <label for="available">Available:</label>
        <input type="checkbox" id="available" name="available" required>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required>
        <section id="profilesForm">
          <h2>Profiles:</h2>
        </section>
        <section>
          <h2>Studies:</h2>
          <section id="primaryStudies">
            <h3>Primary Studies:</h3>
              <label for="primarySD">Start Date:</label>
              <input type="date" id="primarySD" name="primarySD" required>
              <label for="primaryED">End Date:</label>
              <input type="date" id="primaryED" name="primaryED">
              <label for="primarySchool">School:</label>
              <input type="text" id="primarySchool" name="primarySchool" required>
          </section>
          <section id="secondaryStudies">
            <h3>Secondary Studies:</h3>
              <label for="secondarySD">Start Date:</label>
              <input type="date" id="secondarySD" name="secondarySD" required>
              <label for="secondaryED">End Date:</label>
              <input type="date" id="secondaryED" name="secondaryED">
              <label for="secondarySchool">School:</label>
              <input type="text" id="secondarySchool" name="secondarySchool" required>
          </section>
          <section id="tertiaryStudies">
            <h3>Tertiary Studies:</h3>
              <label for="tertiarySD">Start Date:</label>
              <input type="date" id="tertiarySD" name="tertiarySD" required>
              <label for="tertiaryED">End Date:</label>
              <input type="date" id="tertiaryED" name="tertiaryED">
              <label for="tertiaryDescription">Description:</label>
              <textarea id="tertiaryDescription" name="tertiaryDescription" rows="5" cols="33"></textarea>
              <label for="tertiaryInstitute">Institute:</label>
              <input type="text" id="tertiaryInstitute" name="tertiaryInstitute" required>
          </section>
          <section id="univerityStudies">
            <h3>Univerity Studies:</h3>
              <label for="universitySD">Start Date:</label>
              <input type="date" id="universitySD" name="universitySD" required>
              <label for="universityED">End Date:</label>
              <input type="date" id="universityED" name="universityED">
              <label for="universityDescription">Description:</label>
              <textarea id="universityDescription" name="universityDescription" rows="5" cols="33"></textarea>
              <label for="universityInstitute">Institute:</label>
              <input type="text" id="universityInstitute" name="universityInstitute" required>
          </section>
          <section id="informalStudies">
            <h3>Informal Studies:</h3>
              <label for="informalSD">Start Date:</label>
              <input type="date" id="informalSD" name="informalSD" required>
              <label for="informalED">End Date:</label>
              <input type="date" id="informalED" name="informalED">
              <label for="informalDescription">Description:</label>
              <textarea id="informalDescription" name="informalDescription" rows="5" cols="33"></textarea>
              <label for="informalInstitute">Institute:</label>
              <input type="text" id="informalInstitute" name="informalInstitute" required>
          </section>
        </section>
        <section id="workExperience">
          <h2>Work Experience:</h2>
          <label for="workExperienceCompany">Company:</label>
          <input type="text" id="workExperienceCompany" name="workExperienceCompany" required>
          <label for="workExperienceSD">Start Date:</label>
          <input type="date" id="workExperienceSD" name="workExperienceSD" required>
          <label for="workExperienceED">End Date:</label>
          <input type="date" id="workExperienceED" name="workExperienceED">
          <label for="workExperienceDescription">Description:</label>
          <textarea id="workExperienceDescription" name="workExperienceDescription" rows="5" cols="33"></textarea>
        </section>
        <div id="error_message"></div>
        <input id="saveButton" class="button" type="submit" value="Send">
      </form>
    </div>
    <section id="modal-section" class="modal-display-off">
      <div id="modal-content">
          <span id="modal-close-button">&times;</span>
          <h1 id="modal-title"></h1>
          <div id="modal-data-inputs"></div>
          <div id="modal-buttons">
            <button id="cancel-button">CANCEL</button>
            <button id="procced-button">CONFIRM</button>
          </div>
      </div>
    </section>
    <footer>
      <div>© Quito's group, Radium Rocket "Become a Software Developer 2021"</div>
    </footer>
  </body>
</html>
