<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSet</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/profile.css">
    <script async src="../js/profileForm.js"></script>
  </head>
  <body>
    <header>
      <a id="mindSetLogo" href="/"><span>Mind</span>SET</a>
      <nav>
        <a href="#">admins</a>
        <a href="#">applications</a>
        <a href="#">clients</a>
        <a href="#">interviews</a>
        <a href="#">positions</a>
        <a id="profilesNav" href="./profileForm.html">Profiles</a>
        <a href="#">psychologists</a>
        <a href="#">sessions</a>
      </nav>
    </header>
    <div class="container">
      <h2 class="header">Profile Form</h2>
      <form id="form">
        <input id="name" name="name" placeholder="Profile Name" type="text" required pattern="[A-Za-z ]*" title='Enter a valid name' />
        <div id="error_massage"></div>
        <input id="saveButton" class="button" type="submit" value="Send">
      </form>
    </div>
    <footer>
      <div>© Quito's group, Radium Rocket "Become a Software Developer 2021"</div>
    </footer>
  </body>
</html>