<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions</title>
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/sessionStyles.css">
    <script async src="../js/modal.js"></script>
    <script async src="../js/sessionList.js"></script>
  </head>
  <body>
    <header>
      <a id="mindSetLogo" href="/"><span>Mind</span>SET</a>
      <nav>
        <a id="adminsNav" href="/views/adminList.html">admins</a>
        <a id="applicationsNav" href="/views/applicationList.html">applications</a>
        <a id="clientsNav" href="/views/clientList.html">clients</a>
        <a id="interviewsNav" href="/views/interviewList.html">interviews</a>
        <a id="positionsNav" href="/views/positionList.html">positions</a>
        <a id="profilesNav" href="/views/profileList.html">profiles</a>
        <a id="psychologistsNav" href="/views/psychologistList.html">psychologists</a>
        <a id="sessionsNav" href="/views/sessionList.html">sessions</a>
      </nav>
    </header>
    <div class="container">
      <h2 class="header">Sessions</h2>
      <table class="list">
        <thead>
          <tr>
            <th>Postulant</th>
            <th>Psychologist</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="session-table">
        </tbody>
      </table>
      <button class="button" id="addSession" type="button">
        Add Session
      </button>
    </div>
    <section id="modal-section" class="modal-display-off">
      <div id="modal-content">
          <span id="modal-close-button">&times;</span>
          <h1 id="modal-title"></h1>
          <div id="modal-data-inputs"></div>
          <div id="modal-buttons">
            <button id="cancel-button">CANCEL</button>
            <button id="procced-button">CONFIRM</button>
          </div>
      </div>
    </section>
    <footer>
      <div>© Quito's group, Radium Rocket "Become a Software Developer 2021"</div>
    </footer>
  </body>
</html>