.modal-display-off {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-section-display-on {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 3px solid #CC9966;
  border-radius: 10px;
  width: 288px;
  height: 245px;
  background-color: white;
}

#modal-title {
  font-size: 20px;
  margin: 10px;
  text-transform: uppercase;
}

#modal-response {
  margin: 5px;
}

#modal-data-inputs p {
  margin: 5px;
}

#modal-close-button {
  align-self: flex-end;
  align-self:flex-end;
  font-size: 35px;
  font-weight: 700;
}

#modal-close-button:hover{
  color: grey;
  cursor: pointer;
}

#modal-buttons button {
  border: none;
  margin: 8px;
  padding: 12px 17px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #7E7E7E;
  background-color: #E2C9AF;
}

#modal-buttons button:hover {
  cursor: pointer;
}

#modal-data-inputs {
  color: #07a551;
  font-size: 20px;
}

#modal-close-button:hover {
  color: grey;
  cursor: pointer;
}

#procced-button:hover, #cancel-button:hover{
  background-color: #cc9966;
}