* {
  font-family: Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	margin-bottom: 40px;
	padding: 0 30px;
	box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}

#mindSetLogo {
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

#mindSetLogo > span {
	color: #27AE60;
}

header > nav > a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	margin-left: 15px;
}

.activePage {
	color: #27AE60;
}

.listContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 40%;
}

.list {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  min-width: 400px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.list thead tr {
  background-color: #27AE60;
  color: #ffffff;
  text-align: left;
}

.list th,
.list td {
	padding: 12px 15px;
	cursor: pointer;
}

.list tbody tr {
  border-bottom: 1px solid #dddddd;
}

.list tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.list tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.list tbody tr.active-row {
  font-weight: bold;
  color: #27AE60;
}

/* form styles */

.container {
	max-width: 100%;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header {
	background: #27AE60;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.container input,
.container textarea,
.container select {
	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 15px;
	color: #555;
}

.container input:focus,
.container textarea:focus,
.container select:focus {
	box-shadow: 0 0 5px #27AE60;
	padding: 15px;
	border: 1px solid #27AE60;
}

.button, .container input[type="submit"] {
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 15px;
	background: #27AE60;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}

.button:hover, .container input[type="submit"]:hover {
	background: #2EBC99;
}

.button:disabled, .container input[type="submit"]:disabled {
	background: #555;
	border-bottom: 2px solid #555;
	cursor: not-allowed;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-top: 40px;
	background-color: #555;
}

footer > div {
	font-style: italic;
	font-size: 12px;
	color: #989797;
}
